.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.search {
  height: 40px;
  border: 0;
  border-radius: 100px;
  padding: 6px 48px;
  line-height: 1.25em;
  font-size: 1.25em;
  margin: 5px 0;
}